@{
    Layout = "_LayoutCustomer";
}

<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Single Page Header End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Media shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" id="searchBox" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span style="cursor: pointer;" id="searchButton" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Sorting:</label>
                                <form asp-action="Index" asp-controller="Product" method="get">
                                    <select name="sorted" onchange="this.form.submit()">
                                        <option value="default" selected="@(ViewBag.Sorted == "default")">Default</option>
                                        <option value="az" selected="@(ViewBag.Sorted == "az")">A → Z</option>
                                        <option value="za" selected="@(ViewBag.Sorted == "za")">Z → A</option>
                                        <option value="price_asc" selected="@(ViewBag.Sorted == "price_asc")">Price: Low to High</option>
                                        <option value="price_desc" selected="@(ViewBag.Sorted == "price_desc")">Price: High to Low</option>
                                    </select>
                                    <input type="hidden" name="query" value="@Html.Encode(ViewBag.Query)" />
                                    <input type="hidden" name="TypeName" value="@Html.Encode(ViewBag.TypeName)" />
                                </form>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            @await Component.InvokeAsync("MediaSummary")
                        </div>
                    </div>
                    <div class="col-lg-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



