@model IEnumerable<MediaStore.ViewModels.ProductViewModel>

<h2 class="title-head margin-top-10 margin-bottom-30 title-search">Has <b>@ViewBag.TotalProduct</b> results</h2>
@foreach (var item in Model)
    {
        @await Html.PartialAsync("_PopUp", item)
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="rounded position-relative fruite-item border border-secondary">
                <div class="fruite-img">
                    <a asp-action="Detail" asp-controller="Product" asp-route-id=@item.MediaId>
                        <img src= "~/img/media_img/@item.ImageUrl" class="img-fluid w-100 rounded-top" alt="">
                    </a>
                </div>

                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Type</div>

                <div class="p-4">
                        <div class="media_name">
                            <a asp-action="Detail" asp-controller="Product" asp-route-id=@item.MediaId>
                                <strong>@item.Title</strong>
                            </a>
                        </div>
                    
                    <div id = "product_description" class="description">
                        <p>@item.Description</p> 
                    </div>

                     <div id = "product_stock">
                        <p><strong>In stock: </strong>@item.TotalQuantity</p> 
                    </div>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <div class="text-dark fs-6 fw-bold mb-0">@($"{item.Price.ToString("#,##0")} VND")</div>
                        <a data-id="@item.MediaId" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart-btn modal-opener">
                            @* onclick="addToCart(@item.MediaId, 1)" href="javascript:void(0)"*@
                            <i class="fa fa-shopping-bag me-2 text-primary"></i>Add to cart
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    }
@if (ViewBag.TotalPages > 1)
{
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="#" class="page-link rounded mx-1 @(ViewBag.CurrentPage == i ? "bg-primary text-white" : "")"
                   @* onclick="loadPage(@i, '@ViewBag.Query'); return false;">@i</a> *@
                   onclick="loadPage(@i, '@ViewBag.Query', '@ViewBag.TypeName', '@ViewBag.Sorted'); return false;">@i</a>
            }
        </div>
    </div>
}